<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jizhi.dao.AnimalDao">
	<resultMap type="com.jizhi.pojo.Animal" id="animal">
		<id column="id" property="id"/>
		<result column="animalType" property="animalType"/>
		<result column="size" property="size"/>
		<result column="minPrice" property="minPrice"/>
		<result column="maxPrice" property="maxPrice"/>
		<result column="profit" property="profit"/>
		<result column="cycle" property="cycle"/>
		<result column="nfc" property="nfc"/>
		<result column="isShow" property="isShow"/>
	</resultMap>
	
	<select id="queryAll" resultMap="animal">
		select size,minPrice,maxPrice,profit,cycle,nfc from animal where isShow=1;
	</select>
	
	<insert id="save" parameterType="com.jizhi.pojo.Animal">
		insert into animal(animalType,size,minPrice,maxPrice,profit,cycle,nfc)
		values (#{animalType},#{size},#{minPrice},#{maxPrice},#{profit},#{cycle},#{nfc})
	</insert>
	
	<select id="queryByStartTime" parameterType="java.lang.String" resultMap="animal">
		select id,profit,cycle,nfc from animal where startTime=#{startTime} and isShow=1
	</select>
	
	<select id="queryById" parameterType="int" resultMap="animal">
		select id,animalType,size,profit,minPrice,maxPrice,nfc from animal where id=#{AnimalId}
	</select>
</mapper>