<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jizhi.dao.ProfitsDao">
	<resultMap type="com.jizhi.pojo.Profits" id="profits">
		<id column="id" property="id"/>
		<result column="userId" property="userId"/>
		<result column="animalProfit" property="animalProfit"/>
		<result column="shareProfit" property="shareProfit"/>
		<result column="NFC" property="NFC"/>
		<result column="sharerId" property="sharerId"/>
	</resultMap>
	
	<select id="selectAllProfits" parameterType="java.lang.Integer" resultMap="profits">
		select sum(animalProfit),sum(shareProfit),sum(NFC) from profits where userId=#{userId}
	</select>
	
	<insert id="save" parameterType="com.jizhi.pojo.Profits">
		insert into profits(userId,animalProfit,shareProfit,NFC,sharerId) 
		values(#{userId},#{animalProfit},#{shareProfit},#{NFC},#{sharerId})
	</insert>
	
	<select id="queryAllShareProfit" parameterType="java.lang.Integer" resultType="java.lang.Double">
		select sum(shareProfit) from profits where and id=#{id}
	</select>
	
</mapper>