<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jizhi.dao.ProfitsDao">
	<resultMap type="com.jizhi.pojo.Profits" id="profits">
		<id column="id" property="id"/>
		<result column="userId" property="userId"/>
		<result column="animalProfit" property="animalProfit"/>
		<result column="shareProfit" property="shareProfit"/>
		<result column="NFC" property="NFC"/>
		<result column="sharerId" property="sharerId"/>
		<result column="state" property="state"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>
	
	<select id="queryAllAnimalProfits" parameterType="java.lang.Integer" resultType="java.lang.Double">
		select sum(animalProfit) from profits where userId=#{userId}
	</select>
	
	<select id="queryAllNFC" parameterType="java.lang.Integer" resultType="java.lang.Integer">
	select sum(NFC) from profits where userId=#{userId}
	</select>
	
	<select id="selectAllProfits" parameterType="java.lang.Integer" resultType="profits">
		select sum(animalProfit),sum(NFC) from profits where userId=#{userId}
	</select>
	
	<insert id="save" parameterType="com.jizhi.pojo.Profits">
		insert into profits(userId,animalProfit,shareProfit,NFC,sharerId,update_time) 
		values(#{userId},#{animalProfit},#{shareProfit},#{NFC},#{sharerId},now())
	</insert>
	
	<select id="queryAllShareProfitToOthers" parameterType="com.jizhi.pojo.Profits" resultType="java.lang.Double">
		select sum(shareProfit) from profits where userId=#{userId} and sharerId=#{sharerId}
	</select>
	
	<select id="queryShareProfit" parameterType="java.lang.Integer" resultType="java.lang.Double">
		select sum(shareProfit) from profits where sharerId=#{id}
	</select>
	
	<insert id="shareProfitsToFeed" parameterType="com.jizhi.pojo.Profits">
		insert into profits(userId,animalProfit,shareProfit,NFC,sharerId,state,update_time) 
		values(#{userId},#{animalProfit},#{shareProfit},#{NFC},#{sharerId},#{state},now())
	</insert>
	
	<select id="getAllShare" parameterType="java.lang.Integer" resultType="java.lang.Double">
		select sum(shareProfit) from profits where sharerId=#{sharerId} and state=0
	</select>
</mapper>