<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jizhi.dao.PropertyDao">
	<resultMap type="com.jizhi.pojo.Property" id="property">
		<id column="id" property="id"/>
		<result column="userId" property="userId"/>
		<result column="animalId" property="animalId"/>
		<result column="price" property="price"/>
		<result column="buyDate" property="buyDate"/>
		<result column="buyTime" property="buyTime"/>
		<result column="isSold" property="isSold"/>
	</resultMap>
	
	<select id="queryCanSell" parameterType="java.util.Map" resultMap="property">
		select id,userId,animalId,price,buyDate,buyTime from property 
		where 
		animalId=#{map.animalId},buyDate=#{map.buyDate},buyTime=#{map.buyTime}
	</select>
	
	<update id="updateState" parameterType="com.jizhi.pojo.Property">
		update property set isSold=1 where id=#{id}
	</update>
	<select id="queryTotalMonet" parameterType="java.lang.Integer" resultType="java.lang.Double">
		select sum(price) from property where userId=#{userId} and (isSold=0 or isSold=1)
	</select>
	
	<select id="queryById" parameterType="java.lang.Integer">
		select userId,animalId,buyDate,buyDatec 
		from property 
		where id=#{id}
	</select>
</mapper>