<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jizhi.dao.PropertyDao">
	<resultMap type="com.jizhi.pojo.Property" id="property">
		<id column="id" property="id"/>
		<result column="userId" property="userId"/>
		<result column="animalId" property="animalId"/>
		<result column="price" property="price"/>
		<result column="buyDate" property="buyDate"/>
		<result column="buyTime" property="buyTime"/>
		<result column="isSold" property="isSold"/>
		<result column="role" property="role"/>
		<result column="code" property="code"/>
	</resultMap>
	
	<select id="queryCanSell" parameterType="java.util.Map" resultMap="property">
		select id,userId,animalId,price,buyDate,buyTime,role,code from property 
		where 
		animalId=#{animalId} and buyDate=#{buyDate} and buyTime=#{buyTime} and isSold=0 and role=0
	</select>
	
	<update id="updateToSold" parameterType="java.lang.Integer">
		update property set isSold=2 where id=#{id}
	</update>
	
	<update id="updateState" parameterType="com.jizhi.pojo.Property">
		update property set isSold=#{isSold} where id=#{id}
	</update>
	
	<select id="queryTotalMonet" parameterType="java.lang.Integer" resultType="java.lang.Double">
		select sum(price) from property where userId=#{userId} and (isSold=0 or isSold=1)
	</select>
	
	<select id="queryById" parameterType="java.lang.Integer" resultMap="property">
		select id,userId,animalId,buyDate,buyTime,price,role,code 
		from property 
		where id=#{id}
	</select>
	
	<select id="queryByUserId" parameterType="java.lang.Integer" resultMap="property">
		select id,userId,animalId,price,buyDate,buyTime,isSold,role,code  
		from property 
		where userId=#{userId} and (isSold=0 or isSold=1)
	</select>
	
	<select id="queryIsSelling" parameterType="java.util.Map" resultMap="property">
		select id,userId,animalId,price,buyDate,buyTime,isSold,role,code 
		from property 
		where userId=#{userId} and isSold=#{isSold}
	</select>
	
	<insert id="add" parameterType="com.jizhi.pojo.Property">
		insert into property(userId,animalId,price,buyDate,buyTime,isSold,role,code) 
		values(#{userId},#{animalId},#{price},#{buyDate},#{buyTime},#{isSold},#{role},#{code})
	</insert>
	
	<select id="queryNotMatched" parameterType="java.lang.Integer" resultMap="property">
		select * from property where userId=#{userId} and isSold=0
	</select>
	
	<update id="updateBuyDateTime" parameterType="java.util.HashMap">
		update property set buyDate=#{buyDate},buyTime=#{buyTime},isSold=0 where id=#{id}
	</update>
</mapper>