<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jizhi.dao.UserDao">
	<resultMap type="com.jizhi.pojo.User" id="user">
		<id column="id" property="id"/>
		<result column="tel" property="tel"/>
		<result column="userName" property="userName"/>
		<result column="state" property="state"/>
		<result column="isFrozen" property="isFrozen"/>
		<result column="password" property="password"/>
		<result column="inviteCode" property="inviteCode"/>
		<result column="invitedCode" property="invitedCode"/>
		<result column="isConfirmed" property="isConfirmed"/>	
		<result column="secondpsw" property="secondpsw"/>
		<result column="role" property="role"/>
		<result column="cid" property="cid"/>
		<result column="level" property="level"/>
		<result column="totalMoney" property="totalMoney"/>
	</resultMap>
	
	<select id="queryByTel" parameterType="java.lang.String" resultMap="user">
		select * from user where tel=#{tel}
	</select>
	
	<insert id="save" parameterType="com.jizhi.pojo.User">
		insert into user(tel,password,secondpsw,inviteCode,invitedCode,cid) 
		values 
		(#{tel},#{password},#{secondpsw},#{inviteCode},#{invitedCode},#{cid})
	</insert>
	
	<!-- 修改密码 -->
	<update id="updatePsw" parameterType="java.util.Map">
		update user set password=#{newPsw} where id=#{userId} and password=#{oldPsw}
	</update>
	
	<!-- 修改二级密码 -->
	<update id="updateSecondPsw" parameterType="java.util.Map">
		update user set secondpsw=#{newPsw} where id=#{userId}
	</update>
	
	<update id="updatePswByTel" parameterType="java.util.Map">
		update user set password=#{password} where tel=#{tel}
	</update>
	
	<select id="queryByRandom" parameterType="java.lang.String" resultMap="user">
		select * from user where inviteCode=#{inviteCode}
	</select>
	
	<select id="queryById" parameterType="java.lang.Integer" resultMap="user">
		select id,
			   userName,
			   tel,
			   state,
			   isFrozen,
			   password,
			   inviteCode,
			   invitedCode,
			   isConfirmed,
			   secondpsw,role,cid,level from user where id=#{id}
	</select>
	

	
	<select id="queryByInvitedCode" parameterType="java.lang.String" resultMap="user">
		select * from user where invitedCode=#{invitedCode}
	</select>
	
	<select id="queryByInviteCode" parameterType="java.lang.String" resultType="user">
		select * from user where inviteCode=#{inviteCode}
	</select>
	
	<update id="updateIsFrozen" parameterType="java.util.HashMap">
		update user set isFrozen=#{isFrozen} where id=#{userId}
	</update>
	
	<select id="queryAdmin" resultMap="user">
		select * from user where role=1
	</select>
	
	<update id="updateState" parameterType="java.lang.Integer">
		update user set state="活跃" where id=#{id}
	</update>
	
	<update id="updateCid" parameterType="com.jizhi.pojo.User">
		update user set cid=#{cid} where tel=#{tel}
	</update>
	<update id="updateIsConfirmed" parameterType="java.lang.Integer">
		update user set isConfirmed=2 where id=#{id}
	</update>
	
	<update id="updateLevel" parameterType="com.jizhi.pojo.User">
		update user set level=#{level} where id=#{id}
	</update>
	
	<update id="updateTotalMoney" parameterType="com.jizhi.pojo.User">
		update user set totalMoney=#{totalMoney} where id=#{id}
	</update>
</mapper>