/*字体加粗*/
.font-b{
	font-weight: bold;
}

/*字体居右居中*/
.acenter{
	text-align: center;
}
.aright{
	text-align: right;
}
.ajustify{
	text-align: justify;
}

/*字体大小*/
.font-0{
	font-size: 0rem !important;
}

.font-14{
	font-size: 0.14rem !important;
}

.font-20{
	font-size: 0.22rem !important;
}


.font-24{
	font-size: 0.26rem !important;
}

.font-26{
	font-size: 0.28rem !important;
}

.font-28{
	font-size: 0.30rem !important;
}

.font-30{
	font-size: 0.32rem  !important;
}
.font-32{
	font-size: 0.34rem  !important;
}
.font-34{
	font-size: 0.36rem !important;
}
.font-36{
	font-size: 0.38rem !important;
}
.font-38{
	font-size: 0.40rem !important;
}
.font-40{
	font-size: 0.42rem !important;
}
.font-42{
	font-size: 0.42rem !important;
}
.font-46{
	font-size: 0.46rem !important;
}
.font-48{
	font-size: 0.48rem !important;
}
.font-50{
	font-size: 0.5rem !important;
}
.font-52{
	font-size: 0.52rem !important;
}
.font-55{
	font-size: 0.55rem !important;
}
.font-60{
	font-size: 0.60rem !important;
}
.font-72{
	font-size: 0.72rem !important;
}
.font-76{
	font-size: 0.76rem !important;
}
.font-84{
	font-size: 0.84rem !important;
}
.font-90{
	font-size: 0.90rem !important;
}